<!DOCTYPE html>
<html lang="ru">
<head>
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Приколы KZ</title>
    <meta property="og:image" content="{{ absolute_url(asset('logo.png')) }}">
</head>
<body>
<div class="video-feed"
     data-controller="video-feed"
     data-video-feed-api-url-value="{{ path('app_videos_api') }}"
     style="height: 100vh; overflow-y: scroll;">

    <div data-video-feed-target="videoFeed"></div>

    <div data-video-feed-target="loader" style="display: none;">
        Loading...
    </div>
</div>
</body>
</html>