body {
    background-color: skyblue;
}
.main-menu{
    background-color: #0a53be;
}
.dropdown{
    background-color: #0a3622;
}
.dropdown-content{
    background-color: #0d6efd;
}
.video-container{
    background-color: #1ea471;
}