{# templates/menu/_report_form.html.twig #}
{{ form_start(form) }}
    {{ form_widget(form.reason) }} {# Теперь используем правильное имя поля #}
<button type="submit">Отправить жалобу</button>
{{ form_end(form) }}